@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto.ttf");
}

@font-face {
  font-family: "Geosans";
  src: url("./font/GeosansLight.ttf");
}



#error {
   background-color: white;
   margin: 12% 32% 8% 32%;
   padding: 5% 7% 5% 7%;
   text-align: center;
   box-shadow: 5px 5px 12px green;
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(180deg, forestgreen, white);
}

.titleerror {
  font-family: "Geosans";
  font-size: 200%;
}

.lienerror {
  text-decoration: none;
  font-size: 150%;
  color: black;
  font-family: "Geosans";
}

.lienerror:hover {
  font-size: 150%;
  color: red;
}
